extends ../partials/layout
block variables
  - var title = 'Projects | Anton Shubin'
  - var description = 'Projects I\'m working onn or participated into.'

mixin projectList(title, items, id)
  .flex.flex-col.text-center.w-full.mt-16.mb-10(id=id)
    h1.h1 #{title}
  .flex.flex-wrap.justify-center.items-stretch.gap-6.w-full.mb-8
    each project in items
      div.w-80.mb-6
        a.py-4.flex.justify-center.items-center.bg-gray-800.rounded-md.h-48.border.border-2.border-gray-800(href=project.url target="_blank" class="hover:border-orange-500")
          img.inline-block.max-h-full(src=project.previewURL alt=project.title + ' preview' loading="lazy")
        .text-white.text-center
          h3.mt-6.text-base #{project.title}
          p.mt-4.px-4.text-base.text-gray-600 #{project.description}

block content
  .flex.flex-col.max-w-7xl.mx-auto.justify-center.items-center
    +projectList('My Projects', projects.my, 'my')
    +projectList('Freelance Projects', projects.freelance, 'freelance')
