extends layout
block variables
  - var pageTitle = 'Blog post #' + index + ' - ' + title + ' | Anton Shubin'
  - var pageDescription = description
  - var pageType = 'article'
  - var pageRelativeUrl = '/blog/' + slug
  - var pagePreviewImageRelativeURL = '/img/blog/' + slug + '/' + previewImageURL

block head
  script(defer src="/js/subscribeEmail.js?v2")
block content
  article.max-w-3xl.mx-auto.mb-32
    h1.h1.text-left
      a.mr-2.text-gray-400.underline(href='/blog') Blog
      span.mr-2.text-gray-400 >
      span.mr-2.text-gray-400 ##{index}
      span #{title}
    .flex.text-gray-400.my-4.items-center
      span Time to read: #{readTime} min
      span.ml-auto #{prettyDate(publishedAt)}

    .flex.justify-center
      if youtubeVideoId
        // Render YouTube video player
        .w-full.aspect-w-16.aspect-h-9
          iframe(src=`https://www.youtube.com/embed/${youtubeVideoId}`, frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
      else
        // Render article preview image
        img.rounded-md.mb-16(src=pagePreviewImageRelativeURL, alt="Article preview")


    .text-slate-200.blog-content
      != content

  include subscribeEmail
