extends layout

block content
  section.max-w-2xl.mx-auto.text-center
    a.block.mb-6(href=externalURL target="_blank")
      h1.h1.mb-2 #{title}
      p.text-lg.text-slate-400.underline
        span #{externalURL}
    p
      each tag in tags
        span.project-badge #{tag}
    h2.tracking-wide.mt-6.text-xl.text-slate-300 #{description}

  section.max-w-4xl.mx-auto.p-6.flex.gap-8.flex-wrap.justify-center
    if videoURL
      .w-full.aspect-w-16.aspect-h-9.rounded-lg
        iframe(src=videoURL frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

    each screenshotURL in screenshotURLs
      img.rounded-lg(src="/img/projects/"+slug+"/"+screenshotURL alt=title loading="lazy" style="max-height: 600px")
